@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contain {
  max-width: 1400px;
  margin: 0 auto;
}

/*****HEADER*****/

.bg-img {
  @apply bg-cover bg-center bg-no-repeat bg-fixed bg-gradient-to-r from-blue-500 via-red-500 to-yellow-300;
  background-image: url("/img/madera.jpg");
}

/*****ANIMACIONES*******/
.animate-float {
  animation: float 3s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translate(0px);
  }
}
